* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* line-height: 1.4; */
  margin: 5px;
}

.product {
  margin: 50px auto;
  width: 1000px;
  border: 5px solid black;
}

header {
  position: relative;
}

.sale {
  background-color: red;
  color: white;
  position: absolute;
  top: -35px;
  left: -40px;
  display: inline-block;
  padding: 5px 10px;
  /* white-space: pre; */
  letter-spacing: 5px;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

/* header p:last-child {
  letter-spacing: 0;
} */

h1 {
  text-align: center;
  background-color: rgb(207, 207, 207);
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

.colors {
  height: 30px;
  width: 30px;
  background-color: red;
  display: inline-block;
  /* position: absolute; */
  margin: 2px 2px;
}

.colors:nth-child(2) {
  background-color: orangered;
}
.colors:nth-child(3) {
  background-color: olivedrab;
}
.colors:nth-child(4) {
  background-color: gray;
}
.colors:nth-child(5) {
  background-color: plum;
}
.colors:nth-child(6) {
  background-color: blue;
}

strong {
  font-size: 30px;
}

/* img {
  margin: 10px 0;
} */

button {
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  border-top: black 5px solid;
}

button:hover {
  color: black;
  background-color: white;
}

.shipping {
  color: grey;
  /* float: right; */
  /* margin-top: 15px; */
}

.uppercase {
  text-transform: uppercase;
}

li {
  margin-left: 30px;
  list-style-type: square;
  padding-top: 10px;
}

/* floats */

/* 
.price {
  float: left;
}

.product-description {
  clear: both;
  margin-bottom: 20px;
}

.image {
  width: 250px;
  height: 250px;
  float: left;
} */

/* .description {
  width: 260px;
  float: left;
  margin-left: 30px;
  padding-top: 40px;
} */

/* height: 300px; */
/* background-color: rgb(27, 116, 86); */

/* .details {
  width: 250px;
  float: right;
  margin-left: 30px;
  padding-top: 40px;
} */
/* height: 300px; */
/* background-color: yellowgreen; */

/* 
.clearfix {
  clear: both;
  content: "";
  display: block;
} */
/* 
.box-colours {
  padding-top: 15px;
} */

/* flex box  */
/* .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipping {
  margin: 0;
}

.all-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.description {
  flex: 1;
}*/
/* flex-basis: 300px; */
/*
.details {
  flex: 1;
} */
/* flex-basis: 300px; */

.product {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  column-gap: 20px;
}

header {
  grid-column: 1/-1;
}
.image {
  grid-row: 2;
}
button {
  grid-column: 1/-1;
}
.description {
  margin-left: 0;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.p {
  margin: 0;
}
