/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  /* margin: 0px 20px; */
  /* position: relative; */
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

button {
  padding: 5px;
  margin: 10px;
  position: absolute;
  right: 100px;
  top: 50px;
}

.main-heading {
  margin-bottom: 60px;
  padding: 20px 40px;
  /* height: 80px; */
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #e7e2e2ce;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px; */
  padding: 50px 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::first-letter {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

/* pseudo element */
h2::after {
  content: "TOP";
  background-color: yellow;
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;

  position: absolute;
  top: 0;
  right: 0;
}

h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 30px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* article footer p {
  font-size: 16px;
} */

#author {
  font-style: italic;
  font-size: 18px;
  color: rgb(88, 88, 88);
}

#copyright {
  font-size: 16px;
  color: rgb(66, 66, 133);
}

.related-author {
  font-size: 18px;
  font-weight: bold;
  color: darkslategray;
}

.related {
  list-style: none;
  margin-left: 0;
}

header {
  background-color: #e7e2e2ce;
}

li:first-child {
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin: 20px;
  /* padding: 5px;
  display: block; */
}

nav {
  margin-top: 20px;
}

/* Floats */
/* 
.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  float: left;
  width: 830px;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
} */

/* flexbox */
/* 
.main-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 0;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
} */

/* .author {
  margin-bottom: 0;
  margin-left: 15px;
} */
/* margin-right: 15px; */

/* .related-post {
  display: flex;
  align-items: center;
  gap: 15px;
} */
/* flex-direction: column; */

/* .related-link {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
} */
/* background-color: aqua; */

/* .related-author {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
} */

/* .main-content {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
} */
/* justify-content: space-between; */

/* article {
  flex: 1;
  margin-bottom: 0;
} */
/* width: 800px; */
/* background-color: red; */
/* flex: 0 0 825px; */

/* aside {
  flex: 0 0 300px;
} */
/* flex-basis: 300px;
flex-shrink: 0; */

/* CSS GRID */

.main-heading {
  display: grid;
  grid-template-columns: 1fr auto;
  /* justify-content: space-between; */
  align-items: center;
}

nav {
  margin: 0;
}

.author-box {
  display: grid;
  align-items: center;
  margin-bottom: 15px;
  grid-template-columns: auto 1fr;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}
.related-link {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.related-author {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
}

.main-content {
  display: grid;
  grid-template-columns: auto 350px;
  gap: 75px;
  margin-bottom: 60px;
  /* align-items: ; */
}
/* justify-content: space-between; */

article {
  /* flex: 1; */
  margin-bottom: 0;
  /* width: 800px; */
}
/* background-color: red; */
/* flex: 0 0 825px; */

aside {
  /* flex: 0 0 300px; */
  align-self: start;
}
/* flex-basis: 300px;
flex-shrink: 0; */
